{
    "extends": "@wordpress/stylelint-config",
    "customSyntax": "postcss-scss",
    "rules": {
        "no-descending-specificity": null,
        "selector-class-pattern": null,
        "no-duplicate-selectors": null,
        "no-invalid-double-slash-comments": null
    }
}