:root {
  --import-export-menu-bg: #026bc0;
  --import-export-menu-light-color: #fdfdfd;
}

.wrap h1 {
  margin-bottom: 25px;
}
.wrap button {
  padding: 20px;
  padding: 10px;
  background: var(--import-export-menu-bg);
  color: var(--import-export-menu-light-color);
  border: none;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wrap .divider {
  display: block;
  margin: 50px 0;
}
.wrap .loader {
  display: flex;
  display: none;
  flex-wrap: wrap;
  column-gap: 5px;
  margin-left: 12px;
}
.wrap .dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--import-export-menu-light-color);
  animation: animate 0.5s ease-in-out infinite alternate;
}
.wrap .dot .dot:nth-child(1) {
  animation-delay: -0.25s;
}
.wrap .dot .dot:nth-child(2) {
  animation-delay: -0.5s;
}
.wrap .dot .dot:nth-child(3) {
  animation-delay: -0.75s;
}

@keyframes animate {
  0% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(2px);
  }
}
.wrap {
  padding: 2%;
  color: #756275;
}
.wrap ::-webkit-scrollbar {
  height: 10px;
}
.wrap ::-webkit-scrollbar-track {
  background: #dcdcdc;
  border-radius: 8px;
}
.wrap ::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 8px;
}
.wrap a {
  color: #0060f3;
}
.wrap a:focus {
  box-shadow: none;
  outline: 0;
  border: 1px dotted;
  text-decoration: none;
}
.wrap .data-content.hide {
  display: none;
}
.wrap .data-content.active {
  display: block;
}
.wrap .col-right.ads {
  width: 330px;
  text-transform: capitalize;
}
.wrap .col-right.ads .box-sidebar {
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
  background: linear-gradient(50deg, #0bc715, rgba(40, 188, 106, 0.5215686275));
  box-shadow: 0 0 30px rgba(246, 246, 246, 0.4901960784);
  border-bottom: 1px solid #f7f7f7;
  border-radius: 5px;
  margin-bottom: 30px;
}
.wrap .col-right.ads .box-sidebar h3 {
  font-size: 22px;
  color: #fff;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
.wrap .col-right.ads .box-sidebar p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}
.wrap .col-right.ads .box-sidebar a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background: #0060f3;
  font-size: 14px;
  border-radius: 50px;
  text-decoration: none;
  line-height: 1.6;
  margin: 0;
  margin-right: 12px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  width: 155px;
}
.wrap .col-right.ads .box-sidebar a svg {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  fill: #f0ff00;
}
.wrap .col-right.ads .box-support {
  background: linear-gradient(124deg, #3a26e8, rgba(154, 28, 255, 0.82));
}
.wrap .col-right.ads .box-support a {
  background: #04f111;
  color: #2e2e2e;
}
.wrap .col-right.ads .box-support a svg {
  fill: #bd0000;
}
.wrap .col-right.ads .about-me {
  background: #fff;
}
.wrap .col-right.ads .about-me h3 {
  font-size: 23px;
  line-height: 1.2;
  margin: 0;
  text-transform: capitalize;
  color: #294960;
  margin-bottom: 25px;
  text-align: center;
}
.wrap .col-right.ads .about-me img.developer {
  border-radius: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
}
.wrap .col-right.ads .about-me p.desc {
  color: #756275;
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 1em;
  text-transform: capitalize;
}
.wrap .col-right.ads .about-me .boxes-sosmed ul li a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #756275;
  background: transparent;
  font-weight: 400;
  width: auto;
  text-transform: none;
  margin: 0;
  padding: 0;
  justify-content: left;
}
.wrap .col-right.ads .about-me .boxes-sosmed ul li a svg {
  width: 17px;
  height: 17px;
  fill: #222;
}
.wrap .col-right.ads .about-me .boxes-sosmed ul li a span {
  display: block;
  margin-left: 8px;
}
.wrap header.top .mycontainer .myrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(49deg, #006ce1, rgb(193, 0, 218));
  align-items: center;
  padding: 6% 3%;
  border-radius: 5px;
}
.wrap header.top .mycontainer .myrow .col-left {
  text-align: center;
  margin-bottom: 25px;
}
.wrap header.top .mycontainer .myrow .col-left h2 {
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  text-transform: capitalize;
  color: #fff;
  position: relative;
}
.wrap header.top .mycontainer .myrow .col-left h2 span {
  font-size: 13px;
  position: absolute;
  text-align: center;
  background: #222;
  padding: 3px;
  border-radius: 50px;
  width: 45px;
  top: -5px;
}
.wrap header.top .mycontainer .myrow .col-left p {
  font-size: 15px;
  line-height: 1.6;
  text-transform: capitalize;
  color: #fff;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 10px;
}
.wrap header.top .mycontainer .myrow .col-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.wrap header.top .mycontainer .myrow .col-right a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
  background: #4f0d7a;
  font-size: 14px;
  border-radius: 50px;
  text-decoration: none;
  line-height: 1.6;
  margin: 0;
  text-transform: capitalize;
  color: #fff;
  border: 1px solid;
  border-color: transparent;
}
.wrap header.top .mycontainer .myrow .col-right a:focus {
  border-color: currentcolor;
}
.wrap header.top .mycontainer .myrow .col-right a svg {
  width: 15px;
  height: 15px;
  fill: #fff;
  margin-right: 8px;
}
.wrap header.top .mycontainer .myrow .col-right a.buy-plugin-pro {
  background: linear-gradient(90deg, #0a4dd4, #bb039a, #0a4dd4);
  background-size: 300% 300%;
  animation: gradient 2s ease infinite;
  font-weight: 600;
}
.wrap header.top .mycontainer .myrow .col-right a.buy-plugin-pro svg {
  fill: #f0ff00;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrap nav.tabs .mycontainer .myrow .box-menu {
  margin: 30px 0;
  padding: 8px 0;
  border-bottom: 2px solid #e3ecf0;
}
.wrap nav.tabs .mycontainer .myrow .box-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.wrap nav.tabs .mycontainer .myrow .box-menu ul li a {
  padding: 15px;
  margin: 0 8px;
  text-decoration: none;
  font-size: 15px;
  color: #756275;
}
.wrap nav.tabs .mycontainer .myrow .box-menu ul li a:focus {
  box-shadow: none;
  outline: 0;
  border: none;
}
.wrap nav.tabs .mycontainer .myrow .box-menu ul li a.active {
  border-bottom: 2px solid #0060f3;
  color: #0060f3;
}
.wrap nav.tabs .mycontainer .myrow .box-menu ul li a:first-child {
  margin-left: 0;
}
.wrap section.data-content .mycontainer .myrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap section.data-content .mycontainer .myrow .col-left {
  border-bottom: 1px solid #f7f7f7;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 30px rgba(246, 246, 246, 0.4901960784);
  padding: 30px;
  box-sizing: border-box;
  width: calc(100% - 330px - 30px);
}
.wrap section.data-content .mycontainer .myrow .col-left h2 {
  font-size: 35px;
  line-height: 1.2;
  margin: 0;
  text-transform: capitalize;
  color: #294960;
  margin-bottom: 20px;
}
.wrap section.data-content .mycontainer .myrow .col-left p {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  text-transform: capitalize;
}
.wrap section.data-content .mycontainer .myrow .col-left table {
  width: 100%;
}
.wrap section.data-content .mycontainer .myrow .col-left table tr {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e3ecf0;
}
.wrap section.data-content .mycontainer .myrow .col-left table tr td.one {
  font-size: 15px;
  line-height: 1.7;
  width: 80%;
}
.wrap section.data-content .mycontainer .myrow .col-left table tr td.two {
  text-align: center;
  width: 9%;
}
.wrap section.data-content .mycontainer .myrow .col-left table tr td.two svg {
  font-size: 20px;
  width: 20px;
  height: 20px;
  fill: #cb0000;
}
.wrap section.data-content .mycontainer .myrow .col-left table tr td.two svg.light {
  fill: #2ada12;
}
.wrap section.data-content .mycontainer .myrow .col-left table tr td.three {
  text-align: center;
  width: 9%;
}
.wrap section.data-content .mycontainer .myrow .col-left table tr td.three svg {
  font-size: 20px;
  width: 20px;
  height: 20px;
  fill: #2ada12;
}
.wrap section.data-content .mycontainer .myrow .col-left table tr.top {
  display: flex;
  border-bottom: 2px solid #e3ecf0;
}
.wrap section.data-content .mycontainer .myrow .col-left table tr.top td.one {
  text-align: left;
  font-size: 17px;
  font-weight: 600;
}
.wrap section.data-content .mycontainer .myrow .col-left table tr.top td.two {
  font-size: 17px;
  font-weight: 600;
}
.wrap section.data-content .mycontainer .myrow .col-left table tr.top td.three {
  font-size: 17px;
  font-weight: 600;
}
.wrap section.data-content .mycontainer .myrow .col-left ol,
.wrap section.data-content .mycontainer .myrow .col-left ul {
  margin: 0;
  margin-left: 2em;
  padding: 0;
}
.wrap section.data-content .mycontainer .myrow .col-left ol li,
.wrap section.data-content .mycontainer .myrow .col-left ul li {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.wrap section.data-content .mycontainer .myrow .col-left ol li a,
.wrap section.data-content .mycontainer .myrow .col-left ul li a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  text-transform: lowercase;
}
.wrap section.data-content .mycontainer .myrow .col-left ol li a svg,
.wrap section.data-content .mycontainer .myrow .col-left ul li a svg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.wrap section.data-content .mycontainer .myrow .col-left ol li a svg.facebook,
.wrap section.data-content .mycontainer .myrow .col-left ul li a svg.facebook {
  fill: #1877f2;
}
.wrap section.data-content .mycontainer .myrow .col-left ol li a svg.youtube,
.wrap section.data-content .mycontainer .myrow .col-left ul li a svg.youtube {
  fill: #f00;
}
.wrap section.data-content .mycontainer .myrow .col-left ol li a svg.twitter,
.wrap section.data-content .mycontainer .myrow .col-left ul li a svg.twitter {
  fill: #1da1f2;
}
.wrap section.data-content .mycontainer .myrow .col-left ol li a svg.instagram,
.wrap section.data-content .mycontainer .myrow .col-left ul li a svg.instagram {
  fill: #c32aa3;
}
.wrap section.data-content .mycontainer .myrow .col-left ol li a svg.email,
.wrap section.data-content .mycontainer .myrow .col-left ul li a svg.email {
  fill: #444;
}
.wrap section.general .mycontainer .myrow .col-left ol,
.wrap section.general .mycontainer .myrow .col-left ul {
  margin: 0;
  margin-left: 1.5em;
  list-style: disc;
}
.wrap section.general .mycontainer .myrow .col-left h3 {
  text-transform: capitalize;
  color: #294960;
  font-size: 22px;
}
.wrap section.general .mycontainer .myrow .col-left img {
  width: 100%;
}
.wrap section.report .mycontainer .myrow .col-left span.email {
  display: inline-block;
  font-weight: 700;
  text-transform: lowercase;
}
.wrap section.report .mycontainer .myrow .col-left a.support {
  display: inline-block;
  text-transform: capitalize;
}
.wrap section.changelog.data-content .mycontainer .myrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left {
  border-bottom: 1px solid #f7f7f7;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 30px rgba(246, 246, 246, 0.4901960784);
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left h2 {
  font-size: 35px;
  line-height: 1.2;
  margin: 0;
  text-transform: capitalize;
  color: #294960;
  margin-bottom: 35px;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left p {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  text-transform: capitalize;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul {
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #e3ecf0;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li {
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 100%;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span::before {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  top: 1px;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.chore {
  background: #820e7f;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.chore::before {
  content: "C";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.feat {
  background: #00c513;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.feat::before {
  content: "F";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.fix {
  background: #cb0000;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.fix::before {
  content: "B";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.docs {
  background: #be0095;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.docs::before {
  content: "B";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.style {
  background: #e68a09;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.style::before {
  content: "S";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.refactor {
  background: #0375f4;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.refactor::before {
  content: "R";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.perf {
  background: #024578;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li span.perf::before {
  content: "P";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-info ul li:last-child {
  margin: 0;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e3ecf0;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section h2 {
  color: #294960;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  margin: 0 0 20px 0;
  gap: 15px;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section h2 span {
  font-size: 13px;
  font-weight: 400;
  color: #888;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul {
  margin: 0;
  padding: 0;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 21px;
  width: 21px;
  height: 21px;
  margin-right: 12px;
  border-radius: 100%;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span::before {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  top: 1px;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.chore {
  background: #820e7f;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.chore::before {
  content: "C";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.feat {
  background: #00c513;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.feat::before {
  content: "F";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.fix {
  background: #cb0000;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.fix::before {
  content: "B";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.docs {
  background: #be0095;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.docs::before {
  content: "B";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.style {
  background: #e68a09;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.style::before {
  content: "S";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.refactor {
  background: #0375f4;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.refactor::before {
  content: "R";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.perf {
  background: #024578;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul li span.perf::before {
  content: "P";
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section .release ul:last-child li:last-child {
  margin-bottom: 0;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section:first-child {
  margin-top: 25px;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list section:last-child {
  margin-bottom: 0;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list p.no-releases-found {
  margin: 25px 0;
}
.wrap section.changelog.data-content .mycontainer .myrow .col-left .changelog-list a#view-all-releases {
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  .wrap .col-right.ads {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .wrap .col-right.ads .box-sidebar {
    width: 100%;
  }
  .wrap section.data-content .mycontainer .myrow {
    flex-direction: column-reverse;
  }
  .wrap section.data-content .mycontainer .myrow .col-left {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .wrap header.top .mycontainer .myrow {
    padding: 40px 15px;
  }
  .wrap header.top .mycontainer .myrow .col-left h2 span {
    top: -15px;
  }
  .wrap nav.tabs .mycontainer .myrow .box-menu {
    padding: 0;
  }
  .wrap nav.tabs .mycontainer .myrow .box-menu ul {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 15px;
  }
  .wrap nav.tabs .mycontainer .myrow .box-menu ul li a {
    padding: 10px 5px;
    padding-bottom: 20px;
    margin: 0 8px;
  }
}
@media only screen and (max-width: 576px) {
  .wrap {
    padding: 0;
    margin-right: 10px;
  }
  .wrap .col-right.ads .box-sidebar {
    margin-bottom: 20px;
    padding: 20px;
  }
  .wrap header.top .mycontainer .myrow .col-left h2 {
    margin-bottom: 15px;
  }
  .wrap header.top .mycontainer .myrow .col-left h2 span {
    left: 85%;
  }
  .wrap header.top .mycontainer .myrow .col-left p {
    max-width: 100%;
  }
  .wrap header.top .mycontainer .myrow .col-right {
    flex-direction: column;
    justify-content: center;
    width: 75%;
  }
  .wrap nav.tabs .mycontainer .myrow .box-menu ul li {
    margin-bottom: 12px;
  }
  .wrap nav.tabs .mycontainer .myrow .box-menu ul li a {
    padding-bottom: 15px;
  }
  .wrap nav.tabs .mycontainer .myrow .box-menu ul li a.active {
    border-bottom-width: 4px;
  }
  .wrap section.data-content .mycontainer .myrow .col-left {
    padding: 20px;
  }
  .wrap section.data-content .mycontainer .myrow .col-left table tr td.one {
    width: 65%;
  }
  .wrap section.data-content .mycontainer .myrow .col-left table tr td.two,
  .wrap section.data-content .mycontainer .myrow .col-left table tr td.three {
    width: 15%;
  }
}