:root {
	--import-export-menu-bg: #026bc0;
	--import-export-menu-light-color: #fdfdfd;
}

.wrap {

	h1 {
		margin-bottom: 25px;
	}

	button {
		padding: 20px;
		padding: 10px;
		background: var(--import-export-menu-bg);
		color: var(--import-export-menu-light-color);
		border: none;
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.divider {
		display: block;
		margin: 50px 0;
	}

	.loader {
		display: flex;
		display: none;
		flex-wrap: wrap;
		column-gap: 5px;
		margin-left: 12px;
	}

	.dot {
		height: 8px;
		width: 8px;
		border-radius: 50%;
		background: var(--import-export-menu-light-color);
		animation: animate 0.5s ease-in-out infinite alternate;

		.dot:nth-child(1) {
			animation-delay: -0.25s;
		}

		.dot:nth-child(2) {
			animation-delay: -0.5s;
		}

		.dot:nth-child(3) {
			animation-delay: -0.75s;
		}
	}
}

@keyframes animate {

	0% {
		transform: translateY(-4px);
	}

	100% {
		transform: translateY(2px);
	}
}
